* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* 共通 */
h2.section-sub-title {
  font-size: 3vw;
}
section {
  margin-top: 50vh;
  text-align: center;
}

/* コピペ */
.arrow-container {
  position: relative;
  height: 100px;
}
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/* 背景画像用 */
.back-bg {
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back-bg::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}

/* ページタイトル */
h1.page-title-name {
  font-family: 'Syncopate', sans-serif;
  font-size: 3vw;
  letter-spacing: 2.9vw;
  text-align: center;
  margin-top: 14vh;
  font-weight: normal;
}
h1.page-title-name span {
  font-family: 'Syncopate', sans-serif;
  font-size: 3vw;
  letter-spacing: 2.9vw;
  text-align: center;
  margin-top: 14vh;
  font-weight: normal;
  text-transform: uppercase;
}
h2.page-title {
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  font-size: 8vw;
  text-align: center;
  letter-spacing: 0.3vw;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 40vh;
}

/* GitHub */
/* Skill */
section#skill p.skill-description {
  width: 40vw;
  margin: 0 auto;
}

/* Works */
section#works {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50vh;
}
section#works p {
  font-size: 0.7rem;
}
p.section-sub-title {
  margin-bottom: 10vh;
}
section#works .works-card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10vh;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(66, 66, 66);
}
section#works .flex-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#works p.img {
  width: 40%;
}
section#works ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
section#works ul li {
  width: 50%;
}
section#works .description {
  margin-top: 7vh;
  text-align: left;
}

@media screen and (max-width: 700px) {
  /* Works */
  section#works .flex-wrapper {
    flex-direction: column;
    gap: 5vh;
  }
  section#works p.img {
    width: 60%;
  }
  section#works ul {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  /* 共通 */
  h2.section-main-title {
    font-size: 8vw;
  }
  /* ページタイトル */
  h1.page-title-name {
    font-size: 8vw;
  }
  h2.page-title {
    font-size: 17vw;
  }
  /* Skill */
  section#skill p.skill-description {
    width: 60vw;
  }
  /* Works */
  section#works p.img {
    width: 60%;
  }
  section#works ul {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  /* Works */
  section#works p.img {
    width: 80%;
  }
  section#works ul {
    width: 100%;
    color: #ffffff;
  }
  section#works figcaption {
    bottom: -20px;
    font-size: 0.7rem;
  }
}
